{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static  '/bootstrap.min.css' %}">
    <script src="{%static 'bootstrap.min.css' %}"></script>
    <title>Django - {{title}}</title>
</head>

<body>
    <div class="container">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blog:home' %}">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">  
          <a class="nav-link" href="#">About us</a>
        </li>

        
        {% if user.is_authenticated %}
        <li class="nav-item">  
          <a class="nav-link" href="{% url 'blog:create' %}">create</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'usersapp:profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usersapp:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usersapp:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usersapp:login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    
    </div>
  </div>
</nav>
    
    {% if messages %}
      {% for message in messages  %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
      {% endfor %}
  
    {% endif %}    
    {% block bodyblock %}
     {% endblock %}
    
     
    </div>
</body>

</html>